<!DOCTYPE html>
<html>
    <head>
        <title>IronBeers</title>
        <link rel="stylesheets" href="../public/stylesheets/styles.css"
    </head>
    <body>
        <div>
            <nav>
                <a href="/">Home</a>
                <a href="/beers">Beers</a>
                <a href="/random-beer">Random Beer</a>
            </nav>
        </div>
        {{{body}}}
        <script src="app.js"></script>
    </body>
</html>


















